<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.hngf.mapper.danger.HiddenAcceptMapper">

    <sql id="HiddenAcceptColumns">
        a.company_id AS companyId,
        a.group_id AS groupId,
        a.hidden_id AS hiddenId,
        a.hidden_accepted_by AS hiddenAcceptedBy,
        a.hidden_accepted_time AS hiddenAcceptedTime,
        a.hidden_accepted_result AS hiddenAcceptedResult,
        a.hidden_accepted_desc AS hiddenAcceptedDesc,
        a.created_by AS createdBy,
        a.created_time AS createdTime,
        a.updated_by AS updatedBy,
        a.updated_time AS updatedTime,
        a.del_flag AS delFlag,
        a.sign_url
    </sql>

    <select id="findList" resultType="com.hngf.entity.danger.HiddenAccept">
        select
        <include refid="HiddenAcceptColumns"/>
        from
        scyf_hidden_accept a
        where
        a.del_flag = 0
    </select>

    <select id="findById" resultType="com.hngf.entity.danger.HiddenAccept" parameterType="Long">
        select
        <include refid="HiddenAcceptColumns"/>
        from
        scyf_hidden_accept a
        where
        a.del_flag = 0 and a.hidden_accept_id = #{id}
    </select>

    <select id="findByHiddenId" resultType="HiddenAccept" parameterType="Long">
        SELECT
            a.hidden_accept_id,
            ( CASE a.hidden_accepted_result WHEN 3 THEN '委托验收' WHEN 4 THEN '通过' WHEN 5 THEN '未通过' ELSE '未知' END ) AS hidden_accepted_result_name,
            a.hidden_accepted_result,
            a.hidden_accepted_desc,
            a.hidden_accepted_time,
            a.created_time,
            b.group_name,
            c.user_name AS hidden_accepted_by_name,
          	GROUP_CONCAT( hdatt.hidden_attach_path) hidden_attach_path,
            a.sign_url
        FROM
            scyf_hidden_accept a
            LEFT JOIN sys_group b ON a.group_id = b.group_id
            LEFT JOIN sys_user c ON c.user_id = a.hidden_accepted_by
            LEFT JOIN scyf_hidden_attach hdatt ON a.hidden_accept_id = hdatt.hidden_detail_id
        WHERE
            a.hidden_id = #{value} and hdatt.hidden_detail_type = 2
        ORDER BY
            a.created_time DESC
    </select>

    <insert id="add" parameterType="HiddenAccept" useGeneratedKeys="true" keyProperty="hiddenAcceptId">
        INSERT INTO scyf_hidden_accept (
            company_id,
            group_id,
            hidden_id,
            hidden_accepted_by,
            hidden_accepted_time,
            hidden_accepted_result,
            hidden_accepted_desc,
            created_by,
            created_time,
            del_flag,
            sign_url)
        VALUES (
            #{companyId},
            #{groupId},
            #{hiddenId},
            #{hiddenAcceptedBy},
            #{hiddenAcceptedTime},
            #{hiddenAcceptedResult},
            #{hiddenAcceptedDesc},
            #{createdBy},
            #{createdTime},
            0,
            #{signUrl}
        )

    </insert>

    <update id="update" parameterType="com.hngf.entity.danger.HiddenAccept">
        UPDATE scyf_hidden_accept a
        <trim prefix="set" suffixOverrides=",">
        <if test="companyId != null and companyId != ''">
            a.company_id = #{companyId},
        </if>
        <if test="groupId != null and groupId != ''">
            a.group_id = #{groupId},
        </if>
        <if test="hiddenId != null and hiddenId != ''">
            a.hidden_id = #{hiddenId},
        </if>
        <if test="hiddenAcceptedBy != null and hiddenAcceptedBy != ''">
            a.hidden_accepted_by = #{hiddenAcceptedBy},
        </if>
        <if test="hiddenAcceptedTime != null and hiddenAcceptedTime != ''">
            a.hidden_accepted_time = #{hiddenAcceptedTime},
        </if>
        <if test="hiddenAcceptedResult != null and hiddenAcceptedResult != ''">
            a.hidden_accepted_result = #{hiddenAcceptedResult},
        </if>
        <if test="hiddenAcceptedDesc != null and hiddenAcceptedDesc != ''">
            a.hidden_accepted_desc = #{hiddenAcceptedDesc},
        </if>
        <if test="updatedBy != null and updatedBy != ''">
            a.updated_by = #{updatedBy},
        </if>
        <if test="updatedTime != null and updatedTime != ''">
            a.updated_time = #{updatedTime},
        </if>
        </trim>
        where hidden_accept_id = #{hiddenAcceptId}
    </update>

    <update id="deleteById" parameterType="Long">
        UPDATE scyf_hidden_accept a SET
            a.del_flag = 1
        where a.hidden_accept_id = #{id}
    </update>

    <update id="deleteByIds" parameterType="java.util.List">
        UPDATE scyf_hidden_accept a SET
        a.del_flag = 1
        where a.hidden_accept_id in
        <foreach collection="ids" item="id" open="(" close=")" separator="," index="idx">
            #{id}
        </foreach>
    </update>

</mapper>